@font-face {
    font-family: "Garamond";
    font-style: normal;
    font-weight: 400;
    src: local("Garamond"),
    url("/fonts/CormorantGaramond-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Gabriola";
    font-style: normal;
    font-weight: 400;
    src: local("Gabriola"),
    url("/fonts/gabriola.ttf") format("ttf");
}


body {
    user-select: none;
    background: url("./penix/Desktop.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    position: relative;
    height: 98vh;
    width: 98vw;

}

a {
    color: white;
}

a:hover:active{
    color: white;
    transition-duration: 0.1s;
}

a:hover{
    color: #ff8040;
    transition-duration: 0.5s;
}



.header_top {
    width: 88.5%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
}

.info {
    width:50vw;
    margin-top: 4vh;
    font-size: 1.8vw;
    font-family: Gabriola;
}

.buttons {
    margin-top:1vh;
    display: flex;
    column-gap: 2vw;
    font-size: 2vw;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.logo {
    position: absolute;
    left: 70vw;
    top: 5vh;
    line-height: 5vh;
}

.logo1{
    font-size: 4vw;
    font-family: Garamond;
}

.logo2{
    font-size: 2vw;
    font-family: Gabriola;
}

.header_bot {
    font-size: 3vh;
    font-family: Garamond;
    width: 88.4%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    color: white;
}

.group_of_imgs {
    position: absolute;
    bottom: 6vh;
    left: 5vw;
    width: 90%;
    height: 30vh;
    column-gap: 3vw;
    display: flex;
}

.img1 {
    background-image: url("./penix/img_1.png");
    background-size: cover;
    filter: brightness(90%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-position: 50%;
    border-radius: 3vh;
    width: 30vw;
    height: 70%;
    margin-top: 3%;
}

.img2 {
    background-image: url("./penix/Рисунок4.jpg");
    background-size: cover;
    filter: brightness(70%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-position: 50%;
    border-radius: 3vh;
    width: 50vw;
    height: 100%;
}


.img3 {
    background-image: url("./penix/img_2.png");
    background-size: cover;
    filter: brightness(90%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-position: 50%;
    border-radius: 3vh;
    width: 30vw;
    height: 70%;
    margin-top: 3%;
}

.arrow {
    position: absolute;
    bottom: 2vh;
    margin-left: 48%;
    width: 3vh;
}
