header {
    user-select: none;
    background: url("./penix/Слой 2.png");
    background-size: 140vw 130vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    height: 130vh;
    width: 140vw;
    margin-right: auto;
    margin-left: auto;
}
body {
    user-select: none;
    background-color: black;
    height: 0vh;
    width: 140vw;
}

a {
    color: white;
}

a:active{
    color: #ff8040;
    transition-duration: 0.1s;
}

.header_top {
    width: 94.4%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
}

.info {
    width: 50%;
    margin-top: 80px;
    font-size: 35px;
    font-family: Gabriola;
}

.buttons {
    margin-top:30px;
    display: flex;
    column-gap: 10vw;
    font-size: 5vw;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.logo {
    position: absolute;
    right: 100px;
    margin-top: 70px;
    line-height: 60px;
}

.logo1{
    font-size: 100px;
    font-family: Garamond;
    text-shadow: -0   -2px 0   black,
    0   -2px 0   black,
    -0    2px 0   black,
    0    2px 0   black,
    -2px -0   0   black,
    2px -0   0   black,
    -2px  0   0   black,
    2px  0   0   black,
    -1px -2px 0   black,
    1px -2px 0   black,
    -1px  2px 0   black,
    1px  2px 0   black,
    -2px -1px 0   black,
    2px -1px 0   black,
    -2px  1px 0   black,
    2px  1px 0   black,
    -2px -2px 0   black,
    2px -2px 0   black,
    -2px  2px 0   black,
    2px  2px 0   black,
    -2px -2px 0   black,
    2px -2px 0   black,
    -2px  2px 0   black,
    2px  2px 0   black;
}

.logo2{
    font-size: 40px;
    font-family: Gabriola;
}

.header_bot {
    font-size: 3.5vh;
    font-family: Garamond;
    width: 88.4%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    color: white;
}

.group_of_imgs {
    bottom: 10vh;
    position: absolute;
    width: 88.4%;
    height: 30%;
    column-gap: 40px;
    left: 10vw;
    display: flex;
}

.arrow {
    position: absolute;
    bottom: 5vh;
    left: 65vw;
    width: 5vw;

}

.img1 {
    background-image: url("./penix/Рисунок3.jpg");
    background-size: 70vh;
    background-position: 50%;
    width: 29.5%;
    height: 100%;
    border-radius: 38px;
}

.img2 {
    background-image: url("./penix/Рисунок4.jpg");
    background-size: 70vh;
    background-position: 50%;
    width: 29.5%;
    height: 100%;
    border-radius: 38px;
}


.img3 {
    background-image: url("./penix/Рисунок5.jpg");
    background-size: 70vh;
    background-position: 50%;
    width: 29.5%;
    height: 100%;
    border-radius: 38px;
}



/*a {*/
/*    color: white;*/
/*}*/

/*a:active{*/
/*    color: #ff8040;*/
/*    transition-duration: 0.1s;*/
/*}*/

/*.header_top {*/
/*    width: 94.4%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    color: white;*/
/*    display: flex;*/
/*}*/

/*.info {*/
/*    margin-top: 19px;*/
/*    width: 90px;*/
/*    font-size: 8px;*/
/*    font-family: Constantia;*/
/*}*/

/*.buttons {*/
/*    margin-top: 15px;*/
/*    display: flex;*/
/*    column-gap: 42px;*/
/*    font-size: 13px;*/
/*    text-decoration-line: underline;*/
/*    text-decoration-thickness: 1px;*/
/*}*/

/*.logo {*/
/*    text-align: right;*/
/*    position: absolute;*/
/*    margin-left: 140px;*/
/*    margin-top: 15px;*/
/*    line-height: 20px;*/
/*}*/

/*.logo1{*/
/*    font-size: 30px;*/
/*    font-family: Garamond;*/
/*}*/

/*.logo2{*/
/*    font-size: 13px;*/
/*    font-family: Gabriola;*/
/*}*/

/*.header_bot {*/
/*    font-size: 14.4px;*/
/*    font-family: Garamond;*/
/*    width: 94.4%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 72px;*/
/*    color: white;*/
/*}*/

/*.group_of_imgs {*/
/*    width: 94.4%;*/
/*    column-gap: 19px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    display: flex;*/
/*    margin-top: 50px;*/
/*}*/

/*.img1 {*/
/*    background-image: url("./penix/Рисунок3.jpg");*/
/*    background-size: 370%;*/
/*    background-position: 50%;*/
/*    width: 100px;*/
/*    height: 234px;*/
/*    border-radius: 38px;*/
/*}*/

/*.img2 {*/
/*    background-image: url("./penix/Рисунок4.jpg");*/
/*    background-size: 370%;*/
/*    background-position: 50%;*/
/*    width: 100px;*/
/*    height: 234px;*/
/*    border-radius: 38px;*/
/*}*/


/*.img3 {*/
/*    background-image: url("./penix/Рисунок5.jpg");*/
/*    background-size: 370%;*/
/*    background-position: 50%;*/
/*    width: 100px;*/
/*    height: 234px;*/
/*    border-radius: 38px;*/
/*}*/
/*.arrow {*/
/*    margin-top: 10px;*/
/*    margin-left: 47%;*/
/*    width: 5%;*/
/*}*/