@font-face {
    font-family: "Garamond";
    font-style: normal;
    font-weight: 400;
    src: local("Garamond"),
    url("./fonts/CormorantGaramond-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Gabriola";
    font-style: normal;
    font-weight: 400;
    src: local("Gabriola"),
    url("./fonts/gabriola.ttf") format("ttf");
}

header {

}
body {
    user-select: none;
    background: url("./penix/Слой 2.png");
    background-size: 100vw 100vh;
    background-repeat: repeat-y;
    background-position: bottom center;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

a {
    color: white;
}

a:active{
    color: #ff8040;
    transition-duration: 0.1s;
}

.header_top {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 100px;
    display: flex;
}

.info {
    width: 60%;
    height: 55%;
    font-size: 25px;
    font-family: Gabriola;
}

.demoimg {
    display: none;
}

.buttons {
    margin-top:30px;
    display: flex;
    column-gap: 5vw;
    font-size: 4vw;
}

.button {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    border-radius: 90px;
    padding-right: 3%;
    padding-left: 3%;
    background-color: black;
}

.button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

.button:hover:active {
    color: white;
}


.logo {
    position: absolute;
    right: 20px;
    line-height: 3vh;
    text-align: right;
    width: 50%;
}

.logo1{
    font-size: 6vw;
    font-family: Garamond;
    text-align: center;
}

.logo2{
    font-size: 2vw;
    text-align: center;
    font-family: Gabriola;
}

.header_bot {
    font-size: 1.6vh;
    overflow: hidden;
    font-family: Garamond;
    width: 87.5%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    color: white;
    border-left: 2px solid white;
    padding-left: 10px;
}

.header_bot.forcatalog {
    font-size: 2vh;
    font-family: Garamond;
    border: none;
    display: flex;
    width: 88.4%;
    margin: 5vh auto 1px;
    color: white;
    height: 25%;
}

.header_bot.forproduct {
    border-left: none;
    font-size: 3.5vh;
    font-family: 'Garamond';
    display: block;
    width: 88.4%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    color: white;
}

.group_of_imgs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    width: 90%;
    height: 40vh;
    left: 7vw;
}

.img1 {
    background-image: url("./penix/img_1.png");
}

.img2 {
    background-image: url("./penix/img_3.png");
}


.img3 {
    background-image: url("./penix/img_2.png");
}

.img {
    padding-top: 10px;
    margin-bottom: 1vh;
    border-radius: 90px;
    background-size: 70vh;
    filter: brightness(90%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-position: 50%;
    width: 100%;
    height: 15vh;
    overflow: hidden;
}

.content {
    display: block;
    position: center;
    font-size: 1vh;
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.5);
    width: 90%;
    height: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    border-radius: 90px;
}
.catalog {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 85vw;
}

.catalogname {
    font-size: 3vh;
}

.product {
    background-image: url("./penix/product1.png");
    background-position: 0% 50%;
    background-size: 150%;
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-left: 5vw;
    margin-bottom: 5vh;
    border: 2px solid rgba(255, 255, 255, 0.26);
    border-radius: 188px 188px 0px 100px;
    overflow: hidden;
    transition-duration: 0.5s;
}

.product:hover {
    background-size: 200%;
    transition-duration: 0.5s;
}



.product-content {
    width: 300px;
    height: 160px;
    background-color: rgba(0,0,0,0.80);
    border-radius: 0px 0px 0px 60px;
    margin-top: 80%;
    font-family: 'Garamond';
    color: rgba(255, 255, 255, 0.74);
    font-size: 30px;
    padding-left: 10px;
    padding-top: 8px;
}

.product-content-name {
    width: 90%;
    height: 60%;
}

.product-content-price {
    text-align: right;
    width: 70%;
    height: 30%;
    margin-left: 20%;
}


.product1 {
    background-image: url("./penix/product1.png");
}
.product2 {
    background-image: url("./penix/product2.png");
}
.product3 {
    background-image: url("./penix/product3.png");
}

.top {
    display: flex;
    width: 100%;
}

.product-name {
    font-size: 75%;
    width: 70%;
}

.catalog-name {
    text-align: end;
    width: 45.8%;
    font-size: 50%;
}

.bot {
}

.product-img {
    margin-top: 50px;
    width: 100%;
    height: 20vh;
    border-radius: 180px;
    border: 3px solid rgba(255,255,255, 0.50);
    background-size: cover;
    background-image: url("./penix/product1.1.png");
    overflow: hidden;
}

.product-img-content {
    width: 100%;
    height: 1000vh;
    background-color: rgba(0,0,0,0.75);
    margin-top: 21.1%;
    color: black;
}

.product-img-buttons {
    margin-left: 18vw;
    padding-top: 2vh;
    font-size: 4vw;
}

.product-img-button {
    background-color: #ceffbf;
    border-radius: 50px 0 0 50px;
    padding-right: 18px;
    padding-left: 18px;
    height: 33%;
    color: black;
}

.product-img-button2 {
    background-color: #ceffbf;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    padding-right: 7px;
    color: black;
}

.product-description {
    padding-top: 2vh;
    margin-left: 2vw;
    width: 100%;
    font-size: 40px;
}

.price-sign {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 200% ;
}

.price {
    display: inline-block;
    color: #ceffbf;
}


